@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --background2: 0 50% 96%;
        --background3: 145 50% 94%;
        --foreground: 0 0% 20%; /* #333333 */
        --card: 40 50% 98%;
        --card-foreground: 240 10% 3.9%;
        --primary: 0 0% 20%; 
        --primary-foreground: 0 0% 96%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 60 13.8% 87.3%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 257 97% 64%; /* purple */
        --accent-foreground: 0 0% 96%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --main: 60 23% 93.5%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --background2: 240 10% 8%;
        --background3: 240 10% 12%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --main: 240 10% 3.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-feature-settings: "kern" 1, "liga" 1;
    }
}

@layer components {

    /* "Destacado" for highlighted cards */
    .destacado {
        /* Light Mode */
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 60, 98%, 90%;
        --card-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --border: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
    }

    /* Dark Mode */
    .dark .destacado {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --border: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
    }
}